@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'pokeHollow';
    src: url(../src/fonts/Pokemon\ Hollow.ttf);
}

@font-face {
    font-family: 'pokeSolid';
    src: url(../src/fonts/Pokemon\ Solid.ttf);
}

* {
    box-sizing: border-box; 
  }
  
body {
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    background-color: #fff;
    margin: 0;
}

p {
    margin: 0;
}

/* Estilos header */  
header {
    background-color: #EF4036;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.logo {
    width: 380px;
    height: 90px;
}

/* Estilos menu desktop */
#burger-menu {
    display: none;
}

#menu{
    padding:0 6.5rem 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.select-menu{
    font-size: 1.2rem;
    border-radius: 10px;
    border-width: 2px;
    border-color: #396BBA;
    padding: .5rem 1rem;
}

.select-menu.sort {
    margin-right: 1.5rem;
    display: none;
}

/* Título */
h1 {
    font-family: 'roboto';
    font-size: 2rem;
    color: #396BBA;
    text-align: center;
    margin: 0;
    margin-bottom: 1.5rem;
}

/* Mensaje de total de pokemones */

#message-type {
    padding: 1rem;
    margin: 0 6.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.calculations {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.calculations p{
    font-size: 1.5rem;
    margin: 0;
    margin-right: 1.5rem;
    padding-bottom: .5rem;
}

.calculations p:first-child {
    font-size: 2.5rem;
    letter-spacing: 1px;
    padding-bottom: 0;
}

.percentage-note{
    font-size: .9rem;
}

/* Estilos cards section */ 
#cards-section{
    padding: 0 6.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    background-color: rgba(255, 224, 49, 0.2);
    border-radius: 15px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2); /* h-shadow,v-shadow,blur,color */  
    width: 14rem;
    padding: 1rem 0;
    margin: .5rem;
}

.image-pokemon{
    margin-bottom: 1.5rem;
}

.number, .type {
    margin-bottom: .5rem;
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.combat-power {
    font-size: 1.2rem;
    font-weight: 700;
}

/* Estilos para los tipos */
.types {
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.type-style {
    padding: .3rem .9rem;
    border-radius: 6px;
    display: inline-block;
}

.type-style:first-child {
    margin-right: .5rem;
}

.grass {
    background-color: #8AD43A;
}

.poison {
    background-color: #C473CD;
    color: #fff;
}

.bug{
    background-color: #62A52F;
    color: #fff;
}

.dragon {
    background-image: linear-gradient(to bottom, #39A3D4 50%, #FF6346 50%);
    color: #fff;
}

.fairy {
    background-color: #FFB0EA;
}

.fire {
    background-color: #FF7600;
    color: #fff;
}

.ghost {
    background-color: #8259A7;
    color: #fff;
}

.ground {
    background-image: linear-gradient(to bottom, #F8E300 50%, #AC9B2D 50%);
}

.normal {
    background-color: #A3ACB0;
}

.psychic {
    background-color: #FF4AB9;
    color: #fff;
}

.steel {
    background-color: #99B8B9;
}

.dark {
    background-color: #707070;
    color: #fff;
}

.electric {
    background-color: #EFDA00;
}

.fighting {
    background-color: #E26000;
    color: #fff;
}

.flying {
    background-image: linear-gradient(to bottom, #00C8F5 50%, #BEB9B8 50%);
}

.ice {
    background-color: #06C5EC;
}

.rock {
    background-color: #A58F00;
    color: #fff;
}

.water {
    background-color: #2D90C9;
    color: #fff;
}

/* Estilos footer */
footer {
    background-color: #363638;
    padding: 1rem 6.5rem;
    font-size: 1.5rem;
    color: #A19E9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.oficial-site a {
    color: #A19E9E;
}

.oficial-site {
    margin-right: 2rem;
}

.authors {
    font-size: 1.2rem;
}

.pokemon-go {
    width: 139px;
    height: 76px;
    margin-right: 2rem;
}

/* Estilos mobile */
@media (max-width: 768px) {
    /* Estilos header */
    header {
        margin-bottom: 0;
        padding: .7rem 1.3rem;
        justify-content: space-between;
    }
    
    .logo {
        width: 170px;
        height: 50px;
    } 

    /* Estilos hamburger menu */
    #burger-menu {
        display: inline-block;
        width: 50px;
        border-radius: 10px;
        background: url(images/menu.png) no-repeat center;
        background-size: cover;
    }

    #menu.hide.show {
        padding: 0;
        margin-bottom: 2rem;
        border: 3px solid #EF4036;
        background-color: #363638;
        display: flex;
        flex-direction: column;
    }

    #menu.hide{
        display: none;
    }

    #sort-container {
        border-bottom: 3px solid #EF4036;
        width: 100%;
        text-align: center;
        padding: 1rem;
        display: none;
    }
    
    #filter-container {
        width: 100%;
        text-align: center;
        padding: 1rem;
    }
    
    .select-menu.sort {
        margin: 0;
    }

    h1 {
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }

    /* Mensaje de cálculos */
    #message-type {
        margin: 1.5rem 1.3rem 1.5rem;
        padding: 1rem;
    }
    
    .calculations {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .calculations p{
        font-size: 1.2rem;
    }
    
    .calculations p:first-child {
        font-size: 1.8rem;
        letter-spacing: .5px;
    }
    
    .percentage-note{
        font-size: .9rem;
        text-align: center;
    }

    /* Estilos cards section */
    #cards-section {
        padding: 0 1.3rem;
        justify-content: center;
    }

    .pokemon-card {
        margin-right: 1.5rem;
    }

    /* Estilos footer */
    footer {
        padding: .7rem 1.3rem;
    }
    
    .oficial-site {
        font-size: 1rem;
    }
    
    .authors {
        font-size: 0.8rem;
    }
    
    .pokemon-go {
        width: 85px;
        height: 55px;
    }
}